#ifndef __SETTINGS_H__
#define __SETTINGS_H__

//#define DEBUG
//#define LOGGING

// How long the device stays sleeping before waking up, in seconds
#define CONF_POWER_OFF_DURATION_MIN     10
#define CONF_POWER_OFF_DURATION_MAX     (2*60*60)
#define CONF_POWER_OFF_DURATION_DEFAULT 60

// How many boot messages must be available before attempting to upload
#define CONF_WAKEUP_COUNT_UPLOAD_MIN      1
#define CONF_WAKEUP_COUNT_UPLOAD_MAX      15
#define CONF_WAKEUP_COUNT_UPLOAD_DEFAULT  6

// How much time to wait for GNSS fix in seconds
#define CONF_MAX_WAIT_FOR_FIX_MIN     5
#define CONF_MAX_WAIT_FOR_FIX_MAX     (4*60) // seconds
#define CONF_MAX_WAIT_FOR_FIX_DEFAULT (2*60) // seconds

#define CONFIG_START_EEPROM_ADDR     0

#define WATCHDOG_TIMEOUT            (20*1000) // milliseconds
#define POWER_SWITCH_ADDR           0x70
#define POWER_SWITCH_OFF_CMD        0x81

#define NET_PIN                     NULL
#define NET_APN                     "internet"
#define NET_LOGIN                   ""
#define NET_PASSWORD                ""

#define NET_CONNECT_TIMEOUT         (2*60) // seconds
#define NET_MQTT_BROKER             "test.mosquitto.org"
#define NET_MQTT_PORT               1883
#define NET_MQTT_USERNAME           "username"
#define NET_MQTT_PASSWORD           "password"
#define NET_MQTT_TOPIC_PREFIX       "iwing/tracker/gsm"
#define NET_HOLD_TIME               10     // seconds
#define NET_MQTT_ACK_TIMEOUT        2      // seconds

#define TRACKER_START_EEPROM_ADDR   1024
#define TRACKER_MAX_OFFLINE_RECORDS 500

#define SAVE_DEFAULT_CONFIG         0
#define SKIP_CONFIG_LOADING         0

#endif
